mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`).default;
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=`sprite.svg#${icon.id.replace('-usage', '')}`)

mixin image(path, className)
  img(src=require(`images/${path}`).default class=className)

//- start skills stelios

mixin skill(percent, text)
  .skill 
    svg(viewBox='0 0 200 200')
      circle.lol(
        cx='100'
        cy='100'
        r='80'
        fill='darkgrey'
        stroke='#e9e9e9'
        stroke-width='10px'
      )
      circle(
        cx='100'
        cy='100'
        r='80'
        stroke-dasharray='502.4'
        stroke-width='20PX'
        stroke='url(#gradient)'
        style=`animation-delay: -${percent}s`
      )
    .skill__title #{text}

//- finish skills stelios

mixin navigation(dl_class)
  nav(class = 'nav', class = dl_class)
    - var items = [["Обо мне","about"], ["Навыки","values-sec"], ["Работы","works-sec"], ["Отзывы","feedback-sec"], ["Связаться со мной","feedback-sec-form"]];
    ul.nav__list
      each item in items
        li.nav__item
          a(href='#'+item[1]).nav__link #{item[0]}

mixin socials 
  - var icons = [["github__1", "https://github.com/AndreyAlexeev98"], ["linkedin", "https://www.linkedin.com/comm/in/%D0%B0%D0%BD%D0%B4%D1%80%D0%B5%D0%B9-%D0%B0%D0%BB%D0%B5%D0%BA%D1%81%D0%B5%D0%B5%D0%B2"], ["telegram", "https://t.me/AndreyAlexeev98"]];
    ul.socials
      each item in icons
        li.socials__item 
          a(href=item[1],target='_blank').socials__link
            +icon(item[0], 'socials__icon')